<Font size=5, Font Color=LightSeaGreen>#Problem 1

In [ ]:
station_names=['lighthouse','Harmaja','Suomenlinna aaltopoiju','Kumpula','Kaisaniemi']
station_start_years=[2003,1989,2016,2005,1844]
station_names.extend(['Malmi airfield','Vuosaari harbour','Kaivopuisto'])
station_start_years.extend([1937,2012,1904])
station_names_modified=station_names.sort()
station_start_years_modified=station_start_years.sort()

In [97]:
station_info=list(zip(station_start_years,station_names))
print(station_info)

[(1844, 'Harmaja'), (1904, 'Kaisaniemi'), (1937, 'Kaivopuisto'), (1989, 'Kumpula'), (2003, 'Malmi airfield'), (2005, 'Suomenlinna aaltopoiju'), (2012, 'Vuosaari harbour'), (2016, 'lighthouse')]

In [99]:
station_info_modified = sorted(station_info, key = lambda x: x[0])

In [101]:
print(station_info_modified)

[(1844, 'Harmaja'), (1904, 'Kaisaniemi'), (1937, 'Kaivopuisto'), (1989, 'Kumpula'), (2003, 'Malmi airfield'), (2005, 'Suomenlinna aaltopoiju'), (2012, 'Vuosaari harbour'), (2016, 'lighthouse')]

<Font size=5, Font Color=LightSeaGreen>#Problem 2

In [ ]:
import calendar
months=calendar.month_name[1:12]

In [115]:
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']

In [117]:
type(months)

list

In [119]:
average_temp=[-3.5,-4.5,-1.0,4.0,10.0,15.0,18.0,16.0,11.5,6.0,2.0,-1.5]

In [139]:
selected_month_index=int(input('Please specify the month for which you require average temperature data'))
print('The average temperature in Helsinki in ',months[selected_month_index-1],' is ',\
      str(average_temp[selected_month_index-1]))

Please specify the month for which you require average temperature data 3

The average temperature in Helsinki in  March  is  -1.0

<Font size=5, Font Color=LightSeaGreen>#Problem 3

<Font size=3, Font Color=LightSeaGreen>This is my pet, his name is Xiatian.

![Xiatian](Xiatian.jpg)