# Part 2

In [1]:
# List of half-hourly temperature values (in degrees Fahrenheit) for one week
temp_data =  [19, 21, 21, 21, 23, 23, 23, 21, 19, 21, 19, 21, 23, 27, 27, 28, 30, 30, 32, 32, 32, 32, 
              34, 34, 34, 36, 36, 36, 36, 36, 36, 34, 34, 34, 34, 34, 34, 32, 30, 30, 30, 28, 28, 27,
              27, 27, 23, 23, 21, 21, 21, 19, 19, 19, 18, 18, 21, 27, 28, 30, 32, 34, 36, 37, 37, 37, 
              39, 39, 39, 39, 39, 39, 41, 41, 41, 41, 41, 39, 39, 37, 37, 36, 36, 34, 34, 32, 30, 30,
              28, 27, 27, 25, 23, 23, 21, 21, 19, 19, 19, 18, 18, 18, 21, 25, 27, 28, 34, 34, 41, 37, 
              37, 39, 39, 39, 39, 41, 41, 39, 39, 39, 39, 39, 41, 39, 39, 39, 37, 36, 34, 32, 28, 28,
              27, 25, 25, 25, 23, 23, 23, 23, 21, 21, 21, 21, 19, 21, 19, 21, 21, 19, 21, 27, 28, 32,
              36, 36, 37, 39, 39, 39, 39, 39, 41, 41, 41, 41, 41, 41, 41, 41, 41, 39, 37, 36, 36, 34,
              32, 30, 28, 28, 27, 27, 25, 25, 23, 23, 23, 21, 21, 21, 19, 19, 19, 19, 19, 19, 21, 23,
              23, 23, 25, 27, 30, 36, 37, 37, 39, 39, 41, 41, 41, 39, 39, 41, 43, 43, 43, 43, 43, 43,
              43, 43, 43, 39, 37, 37, 37, 36, 36, 36, 36, 34, 32, 32, 32, 32, 30, 30, 28, 28, 28, 27,
              27, 27, 27, 25, 27, 27, 27, 28, 28, 28, 30, 32, 32, 32, 34, 34, 36, 36, 36, 37, 37, 37,
              37, 37, 37, 37, 37, 37, 36, 34, 30, 30, 27, 27, 25, 25, 23, 21, 21, 21, 21, 19, 19, 19,
              19, 19, 18, 18, 18, 18, 18, 19, 23, 27, 30, 32, 32, 32, 32, 32, 32, 34, 34, 34, 34, 34,
              36, 36, 36, 36, 36, 32, 32, 32, 32, 32, 32, 32, 32, 30, 30, 30, 30, 30, 30, 30, 30, 30,
              30, 30, 30, 30, 28, 28]

In [8]:
import temp_functions as tp
temp_classes = []
for i in range(len(temp_data)):
    temp_celsius = tp.fahr_to_celsius(temp_data[i])
    temp_class = tp.temp_classifier(temp_celsius)
    temp_classes.append(temp_class)

In [26]:
# 1. How many 0 values exist in the temp_classes list?
zeros = temp_classes.count(0)
print(f'There are {zeros} 0 values exist in the temp_classes list.')
# 2. How many 1 values exist in the temp_classes list?
ones = temp_classes.count(1)
print(f'There are {ones} 1 values exist in the temp_classes list.')
# 3. How many 2 values exist in the temp_classes list?
twos = temp_classes.count(2)
print(f'There are {twos} 2 values exist in the temp_classes list.')
# 4. How many 3 values exist in the temp_classes list?
threes = temp_classes.count(3)
print(f'There is {threes} 3 value exists in the temp_classes list.')

There are 137 0 values exist in the temp_classes list.
There are 85 1 values exist in the temp_classes list.
There are 114 2 values exist in the temp_classes list.
There is 0 3 value exists in the temp_classes list.

# Problem 3 test

In [30]:
import inspect

# Check that functions are in the namespace
assert inspect.isfunction(tp.fahr_to_celsius)
assert inspect.isfunction(tp.temp_classifier)

In [32]:
# Check that variable has been created
assert 'temp_celsius' in locals()
assert 'temp_class' in locals()
assert 'temp_classes' in locals()

# Check that temp_classes is a list
assert type(temp_classes) == list

In [36]:
# Check that the functions have a single parameter
t_params = list(inspect.signature(tp.temp_classifier).parameters.keys())
f_params = list(inspect.signature(tp.fahr_to_celsius).parameters.keys())
assert len(t_params) == 1
assert len(f_params) == 1

In [38]:
# Check the variable "zeros" 
assert 'zeros' in locals()
print(zeros)

137

In [40]:
# Check the variable "ones" 
assert 'ones' in locals()
print(ones)

85

In [42]:
# Checkthe variable "twos" 
assert 'twos' in locals()
print(twos)

114

In [44]:
# Check the variable "threes" 
assert 'threes' in locals()
print(threes)

0